* {
  font-family: "Poppins", sans-serif;
  padding: 0px;
  margin: 0px;
}
div .navbar-brand {
  color: orange;
  font-size: 30px;
}
div ul li .nav-item {
  color: beige;
}
.section1 {
  background-image: url(../images/h_img.jpg);
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  background-size: cover;
  padding-top: 30px;
  background-position: center center;
}
#logo {
  margin-top: 200px;
  margin-bottom: 45px;
  height: 75px;
}
.section1 p {
  margin-bottom: 140px;
}
#mouse {
  padding-top: 10px;
  padding-bottom: 20px;
  margin-bottom: 30px;
  margin-top: 30px;
  animation: bounce 2s infinite;
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-55px);
  }
  60% {
    transform: translateY(-45px);
  }
}
.services {
  text-align: center;
  background-image: url(../images/s_image.jpg);
  font-size: 14px;
  color: white;
  padding-top: 60px;
  padding-bottom: 60px;
}
.about-us {
  text-align: center;
  font-size: 14px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.heading {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 26px;
}
.what-we-do-section {
  text-align: center;
  font-size: 14px;
}
.subject {
  font-weight: 500;
  font-size: 20px;
}
div .port {
  text-align: center;
  margin: auto;
  font-size: 26px;
}
.container-six {
  /* border: 3px solid red; */
  height: 500px;
  width: 100%;
}

.title {
  text-align: center;
  font-weight: bolder;
  font-size: 25px;
  font-family: "Roboto";
  margin-top: 40px;
}
.contact {
  background-image: url("../images/c_image.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 500px;
  width: 100%;
}

#inputName {
  background-color: transparent;
  width: 400px;
}

#inputEmail {
  background-color: transparent;
  width: 420px;
}

#inputMessage {
  height: 200px;
  width: 900px;
  background-color: transparent;
  margin-top: 40px;
}
.btn{
background-color: blue;
}
